/*Base styles*/
*{
	box-sizing:border-box;
}

div{
	float:left;
	padding: 2px;

}
.row{
	width: 100%;
	background-color: #A52A2A;

}
.divTitle{
	position: relative;
	left:80%;
	clear: both;

}
/*Mobile*/
@media(max-width: 767px )
{
div{
	width:100%;
}
}
/*Tablet*/
@media(min-width: 768px ) and (max-width: 991px)
{
	div.widthMD50{
		width: 50%;
	}
	div.widthMD100{
		width: 100%;
	}
}

/*Desktop*/
@media(min-width: 992px )
{
	div.widthLG33{
		width:33.33%;
	}
}